@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #c0b679;
	font: normal 14px Tahoma, Geneva, sans-serif;
}
button { cursor: pointer; }
img { border: 0; }
.wrapper {
	margin: 5px auto;
	width: 970px;
	padding: 0 5px;
	display: block;
}
.wrapper div { float: left; }
.top_bar {
	width: 970px;
	height: 36px;
	background: #646464;
	margin-bottom: 5px;
	background: url(../images/top_bar.jpg) top right;
}
.top_bar .logo {
	width: 111px;
	height: 36px;
	/*border-right: 1px solid #323232;*/
}
.top_bar .home {
	width: 60px;
	height: 36px;
	background: url(../images/div_top.jpg) right no-repeat;
	padding-right: 3px;
}
.top_bar .home a {
	text-decoration: none;
	color: #FFF;
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 8px 0 11px 0;
}
.top_bar .home a:hover {
	/* [disabled]background: #808285; */
}
.top_bar .search {
	width: 205px;
	height: 36px;
	background: url(../images/search.jpg) no-repeat;
}
.top_bar .search img {
	float: left;
}
.top_bar .search .button {
	float: left;
	border: 0;
	width: 36px;
	height: 36px;
	background: url(../images/search_button.jpg) no-repeat;
	margin: 0;
	padding: 0;
	color: transparent;
}
.top_bar .search input {
	display: block;
	float: left;
	width: 145px;
	margin: 5px 0 0 2px;
	height: 22px;
	color: #fff;
	border: 0;
	background: transparent;
}
.top_bar .notification {
	height: 36px;
	margin-left: 121px;
}
.top_bar .notification .slide1,.slide2,.slide3 {
	width: 30px;
	height: 30px;
	margin-bottom: 6px;
}
#friends { position: relative; }
#friends.active {
	
}
.top_bar .box {
	width: 36px;
	height: 36px;
	float: right !important;
}
.top_bar .user, .login {
	width: 160px;
	height: 36px;
	position: relative;
	background: url(../images/user.jpg) no-repeat right;
}
.login { background: none; }
.top_bar .login {
	width: 64px;
	height: 36px;
	background: url(../images/login.jpg) no-repeat;
}
.top_bar .user a, .login a {
	text-decoration: none;
	display: block;
	color: #FFF;
	text-align: center;
	padding: 8px 0 11px 0;
}
.top_bar .login a:hover {
	
}

/*---------------jquery login--------*/
#login {
 	position: relative;
	float: right !important;
}
#login .active {

}

#friends-content {
  display: none;
  position: absolute;
  top: 36px;
  right: 10px;
  z-index: 999;    
  webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#login-content {
  display: none;
  position: absolute;
  top: 36px;
  right: 10px;
  z-index: 999;    
  webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

#login-content .login {
	width: 150px;
	padding: 5px;
	float: left;
	height: 175px;
	background: #fff;
	-moz-box-shadow: 0 0 2px #000;
  	-webkit-box-shadow: 0 0 2px #000;
  	box-shadow: 0 0 2px #000;
}
#login-content .login_sn { 
	width: 160px;
	height: 235px; 
	background: #fff;
	margin-bottom: 5px;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;
}
#login-content .login_sn .user_img { 
	width: 150px;
	height: 150px; 
	margin: 5px;
	float: left;
	background: #7b7b7b;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}
.login_sn .input_box { 
	width: 95px;
	height: 70px;
	color: #FFF;
	font-size: 10px;
	margin: 0 5px;
}
.login_sn .button_box { 
	width: 45px;
	height: 70px;
	color: #FFF;
	margin-left: 5px;
}
.login_sn .input_box input {
	width: 93px;
	height: 14px;
	border: 1px solid #a0a0a0;
	float: left;
	margin-bottom: 5px;
	font-size: 10px;
	color: #646464;
	padding: 2px 3px;
	webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.login_sn .button_box button {
	width: 45px;
	height: 70px;
	font-size: 11px;
	background: #c8c8c8 url(../images/lgonin_logo.jpg) top no-repeat;
	color: #000;
	cursor: pointer;
	padding: 50px 0 10px 0;
	border: 1px solid #a0a0a0;
	webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
#login-content .warning {
	background: #4b4b4b url(../images/welcome.jpg) top;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 18px;
	width: 160px;
	margin-top: 5px;
}
#login-content .welcome {
	background: #4b4b4b url(../images/welcome.jpg) top;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 18px;
	width: 160px;
}
#login-content .wrong_pass {
	background: #FF0000 url(../images/warning.jpg) top repeat-x;
	font-size: 11px;
	text-align: center;
	color: 7b7b7b;
	width: 150px;
	padding: 5px;
}
#login-content .req_pass {
	/*background: #009600;*/
	background: #FF0000 url(../images/warning.jpg) top repeat-x;
	font-size: 11px;
	text-align: center;
	color: #fff;
	padding: 5px;
	width: 150px;
}

#login #actions {
  margin: 10px 0 0 0;
}


#login label {
  float: right;
  line-height: 20px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}

/*-------------end----------------*/
.sn_but {
	width: 150px;
	/* [disabled]border: 1px solid #a0a0a0; */
	margin-bottom: 5px;
	webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
.sn_but a { padding:0; }
.twitter_but, .facebook_but, .in_but {
	width: 158px;
	color: #FFF;
	font-size: 10px;
	border: 1px solid #a0a0a0;
	margin-bottom: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
.input_box, .input_box2 { 
	width: 150px;
	height: 19px;
	color: #FFF;
	font-size: 10px;
	margin-bottom: 5px;
}
.input_box .input {
	width: 85px;
	height: 14px;
	border: 1px solid #a0a0a0;
	float: left;
	margin-right: 5px;
	font-size: 10px;
	color: #646464;
	padding: 2px 3px;
	webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
.input_box .button {
	width: 50px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 10px;
	height: 20px;
	background: #c8c8c8 url(../images/but_bg.jpg);
	line-height: 14px;
	color: #323232;
	cursor: pointer;
	webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
input:focus{ outline: none; }
.input_box2 button {
	width: 150px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 10px;
	background: #c8c8c8 url(../images/but_bg.jpg);
	line-height: 16px;
	color: #323232;
	cursor: pointer;
	webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
.input_box:hover { background: #FFF !important; }
.twitter_but a {
	color: #FFF;
	text-decoration: none;
	background: #33ccff url(../images/twitter_logo.jpg) left no-repeat;
	text-align: right;
	padding: 5px 0 !important;
}
.twitter_but a:hover {
	background: #33ccff url(../images/twitter_logo.jpg) left no-repeat !important;
}
.facebook_but a {
	color: #FFF;
	text-decoration: none;
	background: #3c5eac url(../images/facebook_logo.jpg) left no-repeat;
	text-align: right;
	padding: 5px 0 !important;
}
.facebook_but a:hover {
	background: #3c5eac url(../images/facebook_logo.jpg) left no-repeat !important;
}
.in_but a {
	color: #FFF;
	text-decoration: none;
	background: #105cb8 url(../images/in_logo.jpg) left no-repeat;
	text-align: right;
	padding: 5px 0 !important;
}
.in_but a:hover {
	background: #105cb8 url(../images/in_logo.jpg) left no-repeat !important;
}
.home_video_box {
	width: 960px;
	height: 565px;
	padding: 5px;
	margin-bottom: 10px;
	background: #fff;
}
.home_video {
	margin-bottom: 5px;
	width: 960px;
	height: 540px;
}
.like_bar {
	width: 960px;
	height: 5px;
}
.like_bar .like {
	background: #0F0;
	float: left;
	height: 5px;
}
.like_bar .dislike {
	background: #F00;
	float: left;
	height: 5px;
}
.home_des {
	width: 960px;
	height: 10px;
	line-height: 10px;
	margin-bottom: 5px;
	font-size: 10px;
}
.home_des .title {
	float: left;
	color: #000;
	width: 150px;
	font-weight: bold;
}
.home_des .username {
	float: left;
	color: #7d7d7d;
}
.bot_bar {
	width: 970px;
	float: left;
	margin-bottom: 15px;
}
.bot_bar .thumb {
	width: 140px;
	float: left;
	padding: 5px;
	background: #fff;
	margin-right: 14px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 02px #999;
	box-shadow: 0 0 2px #999;
}
.like_bar2 {
	width: 140px;
	height: 5px;
}
.like_bar2 .like {
	background: #0F0;
	float: left;
	height: 5px;
}
.like_bar2 .dislike {
	background: #F00;
	float: left;
	height: 5px;
}
.home_des_thumb {
	width: 140px;
	height: 25px;
	font-size: 10px;
	float: left;
	margin: 5px 0;
}
.home_des_thumb .title {
	float: left;
	color: #000;
	width: 140px;
	font-weight: bold;
}
.home_des_thumb .username {
	float: left;
	width: 140px;
	color: #7d7d7d;
}
.footer, .footer_inner {
	width: 970px;
	text-align: center;
	font-size: 11px;
	color: #666;
}
.footer_inner { text-align: right; }
.footer a, .footer_inner a {
	width: 970px;
	color: #666;
	text-align: center;
	font-size: 11px;
	color: #666;
	text-decoration: none;
}
.inner {
	width: 970px; 
	margin-bottom: 10px;
	float: left;
}
.inner_left {
	width: 650px; 
	margin-right: 10px;
	float: left;
}
.inner_left .head {
	float:left;
	position: relative;
	width: 650px;
}
.inner_left .head h1, .inner_right .head h1 {
	float: left;
	width: 630px;
	padding: 0 10px;
	height: 35px;
	margin: 0 0 10px 0;
	font: bold 12px/35px Verdana;
	background: #fff;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}
.inner_right .head h1 {
	width: 290px;
}
.left_body {
	float: left;
	width: 650px;
	margin-bottom: 10px;
}
.left_body .group { float: left; margin-bottom: 10px; width: 650px; }
.left_body .thumb {
	width: 90px;
	height: 130px;
	font-size: 10px;
	float: left;
	padding: 5px;
	background: #fff;
	margin: 0 10px 0 0;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}
.left_body .title {
	float: left;
	color: #323232;
	width: 90px;
	margin-bottom: 3px;
	font-weight: bold;
}
.left_body .img {
	float: left;
	width: 90px;
	height: 90px;
	margin-bottom: 5px;
}
.left_body button {
	width: 90px;
	border: 1px solid #a0a0a0;
	float: left;
	font: bold 10px Tahoma, Geneva, sans-serif;
	color: #333;
	padding: 0px;
	background: #f0f0f0 url(../images/btn_bg.jpg) repeat-x;
	webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.inner_right {
	width: 310px; 
	height: 790px;
	float: left;
}
.inner_right .user_img {
	float: left;
	background: #fff;
	width: 300px;
	padding: 5px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}
.inner_right .user_img .pic { width: 300px; height: 300px; border: 1px solid #646464; margin-bottom: 10px; }
.inner_right .user_img h1 {
	font-size: 20px;
	padding: 5px 10px;
	margin:0;
}
.inner_right .user_img .detail_box {
	width: 300px;
	float: left;
	height: 109px;
	color: #646464;
}
.detail_box .detail {
	width: 290px;
	float: left;
	padding: 0 5px;
	line-height: 18px;
	font-size: 11px;
}
.detail_box .detail img { margin: 0px !important; padding: 0px !important; }
.inner_right .user_btn { 
	width: 310px;
	float: left;
	color: #333;
	padding: 0px;
	margin-top: 10px;
}
.inner_right .user_btn  button { 
	border: 1px solid #a0a0a0;
	font: normal 11px Tahoma, Geneva, sans-serif;
	color: #3c3c3c;
	width: 70px; 
	line-height: 18px;
	padding: 0px;
	float: left;
	margin-right: 10px;
	background: #e1e1e1 url(../images/btn_bg.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.user_info { 
	float: left;
	width: 630px;
	padding: 10px;
	background: #fff;
}
.user_info .top {
	float: left;
	width: 630px;
	height: 30px;
	margin-bottom: 10px;
}
.user_info .top h1 {
	float: left;
	width: 480px;
	height: 14px;
	margin: 0;
	padding: 8px 10px;
	background: #ffff7d url(../images/UserInfo_03.jpg) repeat-x;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #282828;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
} 
.user_info .top  button {
	border: 1px solid #000;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #3c3c3c;
	width: 120px;
	line-height: 26px;
	padding: 0px;
	float: right;
	background: #ffff7d url(../images/UserInfo_06.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.user_info .mid {
	float: left;
	width: 630px;
	margin-bottom: 10px;
}
.user_info .mid .img {
	float: left;
	width: 300px;
	height: 300px;
	border: 1px solid #333;
	margin: 0 8px 0 0;
}
.user_info .mid .cont {
	width: 320px;
	float: right;
	margin-bottom: 5px;
}
.mid .cont .head {
	float: left;
	width: 60px;
	line-height: 20px;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #646464;
	text-align: right;
	margin: 5px 0;
}
.mid .cont .field {
	float: left;
	margin: 5px 0;
	margin-left: 10px; 
	width: 250px;
	height: 20px;
	font: normal 11px Tahoma, Geneva, sans-serif;
	color: #646464;
	text-align: left;
}
.mid .cont .field input, select {
	width: 244px;
	height: 16px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 11px;
	color: #646464;
	background: url(../images/UserInfo_11.jpg) repeat-x;
	padding: 0 2px;
	webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.user_info .mid .notice {
	width: 318px;
	height: 30px;
	padding: 9px 0;
	text-align: center;
	color: #fff;
	font: bold 11px Tahoma, Geneva, sans-serif;
	border: 1px solid #333;
	float: right;
	background: url(../images/UserInfo_15.jpg) repeat-x;
	margin-top: 15px;
	text-align: center;
}
.user_info .bot {
	float: left;
	width: 630px;
}
.user_info .bot .one button {
	border: 1px solid #646464;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #282828;
	width: 120px;
	line-height: 26px;
	padding: 0px;
	float: left;
	margin-right: 10px;
	background: #ffa800 url(../images/UserInfo_19.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;	
}
.user_info .bot .two button {
	border: 1px solid #646464;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #282828;
	width: 120px;
	line-height: 26px;
	padding: 0px;
	float: left;
	margin-right: 10px;
	background: #ffa800 url(../images/UserInfo_21.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;	
}
.user_info .bot .three button {
	border: 1px solid #646464;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #282828;
	width: 120px;
	line-height: 26px;
	padding: 0px;
	float: left;
	margin-right: 10px;
	background: #ffa800 url(../images/UserInfo_23.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.user_info .bot .four button {
	border: 1px solid #646464;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color: #282828;
	width: 240px;
	line-height: 26px;
	padding: 0px;
	float: left;
	background: #ffa800 url(../images/UserInfo_26.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;	
}
.left_body_box {
	float: left;
	width: 640px;
	padding: 5px; 
	margin-bottom: 10px;
	box-shadow: 0 0 2px #333;
	background: #fff;	
}
.left_body_box iframe { float: left; margin-bottom: 5px; }
.detail_box .detail {
	width: 290px;
	float: left;
	padding: 0 5px;
	line-height: 18px;
	font-size: 11px;
}
.detail_box .detail img { margin: 0px !important; padding: 0px !important; }
.inner_right .user_btn { 
	width: 310px;
	float: left;
	color: #333;
	padding: 0px;
	margin: 10px 0;
}
.right_thumb {
	float: left;
	width: 310px;
	margin-bottom: 10px;
}
.right_thumb .thumb {
	width: 140px;
	float: left;
	padding: 5px;
	font-size: 11px;
	background: #fff;
	margin-right: 10px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 02px #333;
	box-shadow: 0 0 2px #333;
}
.right_thumb .like {
	background: #0F0;
	float: left;
	height: 5px;
}
.right_thumb .dislike {
	background: #F00;
	float: left;
	height: 5px;
}
.right_thumb .title {
	float: left;
	color: #000;
	width: 140px;
	font-weight: bold;
}
.right_thumb .username {
	float: left;
	width: 140px;
	color: #7d7d7d;
}
.head_but_box {
	position: absolute;
	z-index: 2;
	width: 640px;
	height: 25px;
	padding: 5px;
}
.head_but_box .vid_up {
	float: right;
	background: url(../images/upload_video.jpg) no-repeat;
	line-height: 25px;
}
.head_but_box .vid_up a {
	float: left;
	width: 125px;
	height: 25px;
	padding: 0 0 0 25px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 11px; 
} 
.head_but_box .img_up {
	float: right;
	background: url(../images/upload_image.jpg) no-repeat;
	line-height: 25px;
	margin-left: 5px;
}
.head_but_box .img_up a {
	float: left;
	width: 125px;
	height: 25px;
	padding: 0 0 0 25px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 11px; 
} 
.head_but_box_full {
	position: absolute;
	z-index: 2;
	background: #FFF;
	width: 640px;
	height: 25px;
	padding: 5px;
}

.head_but_box_full .vid_input { 
	float: left;
	width: 559px;
	padding-left: 24px;
	height: 23px;
	background: url(../images/videoShare.png) 0 1px no-repeat;
}
.head_but_box_full .vid_input input {
	width: 549px;
	height: 23px;
	font-weight: bold;
	padding: 0 4px;
	font-size: 12px;
	border: 1px solid #000;
	background: #aeaeae;
	color: #616161;
}
.head_but_box_full a {
	float: left;
	width: 50px;
	color: #fff;
	border: 1px solid #000;
	margin-left: 5px;
	text-decoration: none;
	background: url(../images/vid_share.jpg) repeat-x;
	height: 23px; 
	font: bold 12px/21px Tahoma, Geneva, sans-serif;
	text-align: center;
}
.head_but_box_img {
	background: #FFF;
	width: 640px;
	height: 415px;
	padding: 5px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 02px #333;
	box-shadow: 0 0 2px #333;
}

.head_but_box_img .img_input {
	float: left;
	width: 559px;
	padding-left: 24px;
	height: 25px;
	margin-bottom: 5px;
	background: url(../images/imageShare.png) 0 1px no-repeat;
}
.head_but_box_img .img_input input {
	width: 549px;
	height: 23px;
	font-weight: bold;
	padding: 0 4px;
	font-size: 12px;
	border: 1px solid #000;
	background: #aeaeae;
	color: #616161;
}
.head_but_box_img .share a {
	float: left;
	width: 50px;
	color: #fff;
	border: 1px solid #000;
	margin-left: 5px;
	text-decoration: none;
	background: url(../images/img_share.jpg) repeat-x;
	height: 23px; 
	font: bold 12px/21px Tahoma, Geneva, sans-serif;
	text-align: center;
}
.head_but_box_img .color_font {
	float: left;
	margin-bottom: 5px;
	height: 20px;
	width: 640px;
}
.color_font .color_palate {
	width: 345px;
	height: 20px;
	float: left;
	margin-right: 8px;
}
.color_font .font_type {
	height: 18px;
	float: left;
	border: 1px solid #000;
	text-align: center;
	background: #7b7b7b;
	margin-right: 5px;
}
.color_font .font_type a {
	padding: 0 5px;
	font: bold 12px Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	float: left;
}
.img_canvas {
	width: 640px;
	height:360px;
	float: left;
	background: url(../images/canvas.jpg) no-repeat;
}
.left_vid_cont {
	float: left;
	width: 640px;
	height: 30px;
	margin-bottom: 5px;
}
.left_vid_cont .vid_name {
	float: left;
	width: 168px;
	line-height: 18px;
	padding: 5px 10px;
	border: 1px solid #000;
	font: bold 14px Tahoma, Geneva, sans-serif;
	background: url(../images/movie_name.jpg) repeat-x;
}
.left_vid_cont .user_name {
	float: left;
	margin-left: 2px;
	width: 120px;
	height: 18px;
	padding: 5px 10px;
	color: #fff;
	border: 1px solid #000;
	font: normal 12px Tahoma, Geneva, sans-serif;
	background: url(../images/movie_name.jpg) repeat-x;
	webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.left_vid_cont .sn_img {
	float: left;
	/* [disabled]margin-left: 2px; */
	width: 130px;
	height: 30px;
}
.left_vid_cont .sn_img img { margin-left: 2px; }
.left_vid_cont .choice {
	float: left;
	width: 174px;
	margin-left: 2px;
	height: 30px;
}
.left_vid_cont .choice .top {
	float: left;
	width: 174px;
	height: 24px;
}
.left_vid_cont .choice .bot {
	float: left;
	width: 174px;
	margin-top: 2px;
	height: 4px;
}
.choice .bot .like {
	background: #0F0;
	float: left;
	height: 4px;
}
.choice .bot .dislike {
	background: #F00;
	float: left;
	height: 4px;
}
.choice .top .like {
	width: 50px;
	height: 24px;
	float: left;
}
.choice .top .hits {
	float: left;
	width: 60px;
	line-height: 20px;
	padding: 0 7px;
	height: 24px;
}
.left_vid_desc {
	float: left;
	width: 630px;
	padding: 5px;
	font-size: 12px;
	height: 80px;
	text-align: justify;
	background: #e8e8e8;
	margin-bottom: 5px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 02px #333;
	box-shadow: 0 0 2px #333;
}
.left_vid_comment_box {
	float: left;
	width: 628px;
	padding: 5px;
	height: 38px;
	margin-bottom: 5px;
	border: 1px solid #999;
}
.left_vid_comment_box .user_img {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.left_vid_comment_box .user_name {
	float: left;
	width: 583px;  
	line-height: 12px;   
}
.left_vid_comment_box .desc {
	float: left;
	width: 583px;
	font-size: 12px;
	line-height: 12px;
	text-align: justify;
}
.left_vid_comment_box .user_name .post_date {
	float: right;
	width: 250px;
	font: normal 11px Tahoma, Geneva, sans-serif;
	text-align: right;
	color: #646464;
}
.change_password {
	float: left;
	width: 400px;
	margin: 10px 0;
	font-size: 12px;
}
.change_password .head {
	float: left;
	width: 250px;
	margin: 0 0 10px 0;
	text-align: right;
	line-height: 25px;
}
.change_password .cont {
	float: left;
	width: 120px;
	margin: 0 0 10px 10px;
	text-align: right;
}
.change_password .cont input {
	width: 105px;
	height: 26px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 11px;
	color: #000;
	background: #ffa800 url(../images/password.jpg) repeat-x;
	padding: 0 7px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.delete_acc {
	float: left;
	width: 630px;
	margin: 10px 0;
	font-size: 12px;
}
.delete_acc .warning {
	float: left;
	width: 370px;
	border: 1px solid #000;
	padding: 0 4px;
	margin: 0 0 10px 0;
	text-align: right;
	line-height: 25px;
	height: 28px;
	background: url(../images/delete_Acc.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.delete_acc .head {
	float: left;
	width: 380px;
	margin: 0 0 10px 0;
	text-align: right;
	line-height: 25px;
}
.delete_acc .cont {
	float: left;
	width: 240px;
	margin: 0 0 10px 10px;
	text-align: right;
}
.delete_acc .cont .yes a, .del a, .no a {
	float: left;
	width: 105px;
	border: 1px solid #000;
	padding: 0 4px;
	text-align: center;
	text-decoration: none;
	color: #000;
	line-height: 25px;
	height: 28px;
	background: url(../images/delete_Acc.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.delete_acc .cont .no a {
	margin-left: 10px;
	background: #ffa800 url(../images/UserInfo_26.jpg) repeat-x;
}
.delete_acc .cont input {
	width: 100px;
	height: 28px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 11px;
	color: #000;
	background: #ffa800 url(../images/password.jpg) repeat-x;
	padding: 0 7px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

.entity {
	float: left;
	width: 630px;
	margin: 10px 0;
	font-size: 12px;
}
.entity .warning {
	float: right;
	width: 290px;
	border: 1px solid #000;
	padding: 0 4px;
	margin: 0;
	text-align: right;
	line-height: 25px;
	height: 28px;
	background: url(../images/entity.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.entity .head {
	float: left;
	width: 380px;
	margin: 0 0 10px 0;
	text-align: right;
	line-height: 25px;
}
.entity .cont {
	float: left;
	width: 240px;
	margin: 0 0 10px 10px;
	text-align: right;
}
.entity .cont .yes a, .del a, .no a {
	float: left;
	width: 105px;
	border: 1px solid #000;
	padding: 0 4px;
	text-align: center;
	text-decoration: none;
	color: #000;
	line-height: 25px;
	height: 28px;
	background: url(../images/delete_Acc.jpg) repeat-x;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.entity .cont .yes a { background: #ffa800 url(../images/entity.jpg) repeat-x; }
.entity .cont .no a {
	margin-left: 10px;
	background: #ffa800 url(../images/UserInfo_26.jpg) repeat-x;
}
.entity .cont input {
	width: 100px;
	height: 28px;
	border: 1px solid #a0a0a0;
	float: left;
	font-size: 11px;
	color: #000;
	background: #ffa800 url(../images/password.jpg) repeat-x;
	padding: 0 7px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.unfriend {
	width: 45px !important;
	border: 1px solid #a0a0a0;
	float: left;
	font: normal 10px Tahoma, Geneva, sans-serif  !important;
	color: #333;
	padding: 0px;
	background: #f0f0f0 url(../images/btn_bg.jpg) repeat-x;
	webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.friend {
	width: 40px !important;
	border: 1px solid #a0a0a0;
	float: left;
	font: normal 10px Tahoma, Geneva, sans-serif  !important;
	color: #333;
	padding: 0px;
	margin-left: 5px;
	background: #f0f0f0 url(../images/btn_bg.jpg) repeat-x;
	webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}
.left_thumb {
	float: left;
	width: 650px;
	margin-bottom: 16px;
}
.left_thumb .posts {
	width: 140px;
	float: left;
	padding: 5px;
	font-size: 11px;
	background: #fff;
	margin-right: 16px;
	-moz-box-shadow: 0 0 2px #333;
	-webkit-box-shadow: 0 02px #333;
	box-shadow: 0 0 2px #333;
}
.left_thumb .like {
	background: #0F0;
	float: left;
	height: 5px;
}
.left_thumb .dislike {
	background: #F00;
	float: left;
	height: 5px;
}
.left_thumb .post_title {
	float: left;
	color: #000;
	width: 140px;
	font-weight: bold;
}
.left_thumb .name {
	float: left;
	width: 140px;
	color: #7d7d7d;
}
#div_slide_content1, #div_slide_content2, #div_slide_content3 {
	position: absolute;
	z-index: 9999;
	top: 38px;
	display: none;
	width: 250px;
	height: 200px;
	margin-left: -70px;	
}
#div_slide_content1 { margin-left: -100px; }
#div_slide_content2 { margin-left: -110px; }
#div_slide_content4 {
	position: absolute;
	z-index: 9999;
	/* [disabled]float: left; */
	top: 41px;
	display: none;
	width: 158px;
	height: 50px;
	background: #666;
	margin-left: 90px;
	background: #666;
	border: 1px solid #333;
	border-top: none;
}
.user_option {
 float:left;
 width: 158px;
 margin: 0;
 padding: 0;
}
.user_option a {
 text-decoration: none;
 color: #fff;
 display: block;
 padding-left: 10px;
 font: bold 12px/25px Tahoma, Geneva, sans-serif; 
}
.user_option a:hover {
 background: #333;
}
#div_slide_content1 .arrow {
	position: absolute;
	height: 8px;
	width: 100%;
	background: url(../images/arrow.png) top no-repeat;	
	z-index: 99999;
	margin-left: -10px;
}
#div_slide_content2 .arrow {
	position: absolute;
	margin-left: 30px;
	height: 8px;
	width: 100%;
	background: url(../images/arrow.png) top no-repeat;	
	z-index: 99999;
}
#div_slide_content3 .arrow {
	position: absolute;
	margin-left: 20px;
	height: 8px;
	width: 100%;
	background: url(../images/arrow.png) top no-repeat;	
	z-index: 99999;
}
.note, .note2, .note3 {
	width: 220px;
	min-height: 150px;
	background: #fff;
	margin-top: 7px;
	z-index: 99;
	padding: 5px;
	border: 1px solid #858585;
}
.note2 {
	width: 270px;
}
.note3 {
	width: 300px;
}
.frnd_req_box, .msg_box, .post_box {
	width: 208px;
	float: left;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #bababa;
	background: #d8d8d8;
	height: 40px;
}
.msg_box { width: 258px; }
.post_box { width: 288px; }
.top_bar .user_img {
	float: left; 
	width: 40px;
	height: 40px;
	margin-right: 5px;	
}
.frnd_req_name {
	float: left;
	width: 148px;
	padding-left: 10px;
	height: 20px;
	font: bold 12px Tahoma, Geneva, sans-serif;
}
.frnd_req_but {
	float: left;
	width: 158px;
	height: 20px;
	text-align: right;
}
.frnd_req_but .but {
	float: right;
	width: 60px;
	height: 20px;
	margin-left: 10px;
}
.msg_box_name {
	float: left;
	width: 208px;
	height: 14px;
	font: bold 12px Tahoma, Geneva, sans-serif;
}
.msg_box_msg {
	float: left;
	width: 208px;
	height: 26px;
	text-align: left;
	font: normal 12px/12px Tahoma, Geneva, sans-serif;
}
.post_box_cont {
	float: left;
	width: 158px;
	height: 40px;
	font: normal 12px Tahoma, Geneva, sans-serif;
}
.post_img {
	float: right;
	height: 40px;
	width: 75px;
	margin-left: 10px;
}
